.card3 {
    display: flex;
    flex-direction: row;
    font-family: "Roboto";
 

}

.svg-content3{
    padding: 50%;
  
}


.headings3{
    padding-top: 20%;
    padding-left: 10%;
    padding-right: 10%;

}

.heading3{
    font-weight: 900;
    font-size: 80px;
}

.subHeading3{
    font-weight: 600;
    font-size: 80px;
}


